<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="../css/prueba.css"> -->
  <title>Inventario</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a class="navbar-brand order-md-last" href="#">Administrador</a> -->
      {% if session['usuario']['rol']=="Administrador" %}
      <div class="dropdown order-md-last dropstart">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo usuario</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal2">Nuevo producto</a></li>
          <li><a class="dropdown-item" href="{{ url_for('cerrarSesion') }}">Salir</a></li>
        </ul>
      </div>
      {% else %}
      <div class="dropdown order-md-last dropstart">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton"
          data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{{ url_for('cerrarSesion') }}">Salir</a></li>
        </ul>
      </div>
      {% endif %}


      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color:white;">
            {{session['usuario']['rol']}}
        </ul>

      </div>
    </div>
  </nav>

  <div class="container">
    <form method="post">
      {{form4.hidden_tag()}}
      {{form4.todos(onchange="this.form.submit()")}}
      <!-- <input type="checkbox" id="todos" name="todos" onchange="this.form.submit()"> -->
      <label for="todos">Mostrar todos los productos </label>
    </form>  
  </div>

  <div class="container">
    <div class="row">
      {% for producto in productos %}
      <div class="card" style="width: 18rem;">
        <div class="text-center">
          <img height="100" width="100" src="{{producto[5]}}" class="col-sm-6" alt="...">
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <h5>Producto: </h5>
            </div>
            <div class="col-sm-6">
              <h5 class="card-title">{{producto[1]}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Cantidad:</label>
            </div>
            <div class="col-sm-6">
              <p class="card-text">{{producto[3]}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Precio:</label>
            </div>
            <div class="col-sm-6">
              <p class="card-text">{{producto[2]}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Estado:</label>
            </div>
            <div class="col-sm-6">
              <p class="card-text">
                {% if producto[4]=="1" %}
                   Activo
                {% else %}
                   Inactivo
                {% endif %}
              </p>
            </div>
          </div>
          <div class="text-center">
            <!--No di con el truco para pasarle todo el objeto-->
            <a class="btn btn-danger" onclick="actualizarProducto('{{producto[0]}}','{{producto[1]}}','{{producto[2]}}','{{producto[3]}}','{{producto[4]}}')">Editar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar usuario.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="registrarUsuario" action="" method="POST" novalidate>
                      {{form.hidden_tag()}}
                      <p>Diligencie los campos a continuación.</p>
                      <div class="row">
                        <label for="txtIdUsuario" class="col-sm-2 col-form-label">Usuario:</label>
                        <div class="col-sm-10">
                          {{form.user(class="form-control",id="txtIdUsuario",placeholder="Ingrese usuario")}}
                          {% if form.user.errors %}
                          {% for error in form.user.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %}<br>{% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="txtCorreo" class="col-sm-2 col-form-label">Correo Electrónico:</label>
                        <div class="col-sm-10">
                          {{form.email(class="form-control",id="txtCorreo",placeholder="ejemplo@ejemplo")}}
                          {% for error in form.email.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="txtUsuario" class="col-sm-2 col-form-label">Nombre:</label>
                        <div class="col-sm-10">
                          {{form.name(class="form-control",id="txtUsuario",placeholder="Ingrese nombre")}}
                          {% if form.name.errors %}
                          {% for error in form.name.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %}<br>{% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="txtPassword" class="col-sm-2 col-form-label">Contraseña:</label>
                        <div class="col-sm-10">
                          {{form.password(class="form-control",id="txtPassword",placeholder="Ingrese la contraseña")}}
                          {% if form.password.errors %}
                          {% for error in form.password.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %}<br>{% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="txtCpassword" class="col-sm-2 col-form-label">Confirmar contraseña:</label>
                        <div class="col-sm-10">
                          {{form.confirm(class="form-control",id="txtCpassword",placeholder="Repita la contraseña")}}
                          {% for error in form.confirm.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="selRol" class="col-sm-2 col-form-label">Rol de usuario:</label>
                        <div class="col-sm-10">
                          {{form.rol(class="form-control",id="rol")}}
                          {% for error in form.rol.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center mb-3">
                        <div class="col-md-4">
                          {{form.enviar(class="btn btn-outline-primary",id="btnRegistrar")}}

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Crear producto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="registrarProducto" action="" method="POST"  enctype="multipart/form-data" novalidate>
                    {{form2.hidden_tag()}}
                    <p>Diligencie los campos a continuación.</p>
                    <div class="row">
                      <label for="txtReferencia2" class="col-sm-2 form-label">Referencia:</label>
                      <div class="col-sm-10">
                        {{form2.referencia(class="form-control",id="txtReferencia2",placeholder="Ingrese referencia")}}
                        {% if form2.referencia.errors %}
                        {% for error in form2.referencia.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {% else %}
                        <br>
                        {% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <label for="txtNomProducto2" class="col-sm-2 form-label">Producto:</label>
                      <div class="col-sm-10">
                        {{form2.producto(class="form-control",id="txtNomProducto2",placeholder="Nombre del producto")}}
                        {% if form2.producto.errors %}
                        {% for error in form2.producto.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {% else %}<br>{% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <label for="txtCantidad2" class="col-sm-2 form-label">Cantidad:</label>
                      <div class="col-sm-10">
                        {{form2.cantidad(class="form-control",id="txtCantidad2",placeholder="Cantidad del producto")}}
                        {% if form2.cantidad.errors %}
                        {% for error in form2.cantidad.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {% else %}<br>{% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <label for="txtPrecio2" class="col-sm-2 form-label">Precio:</label>
                      <div class="col-sm-10">
                        {{form2.precio(class="form-control",id="txtPrecio2",placeholder="Precio del producto")}}
                        {% if form2.precio.errors %}
                        {% for error in form2.precio.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {% else %}<br>{% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <label for="estado2" class="col-sm-2 form-label">Estado: </label>
                      <div class="col-sm-10">
                        {{form2.estado(checked=True)}}
                        {% if form2.estado.errors %}
                        {% for error in form2.estado.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {% else %}<br>{% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <label for="imagen2" class="col-sm-2 form-label">Imagen:</label>
                      <div class="col-sm-10">
                        {{form2.imagen(class="form-control",id="imagen2")}}
                        {% if form2.imagen.errors %}
                        {% for error in form2.imagen.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                        {% else %}<br>{% endif %}
                      </div>
                    </div>
                    <div class="row d-flex justify-content-center mb-3">
                      <div class="col-md-4">
                        {{form2.enviar2(class="btn btn-outline-primary" ,id="btnProducto")}}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% if session['usuario']['rol']=="Administrador" %}
          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualizar producto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="registrarUsuario" action="" method="POST" enctype="multipart/form-data" novalidate>
                    {{form3.hidden_tag()}}
                    <p>Diligencie los campos a continuación.</p>
                    <div class="container">
                      <div class="row">
                        <label for="txtReferencia3" class="col-sm-2 form-label">Referencia: </label>
                        <div class="col-sm-10">
                          {{form3.referencia(class="form-control",id="txtReferencia3",placeholder="Ingrese referencia",readonly=True)}}
                          {% if form3.referencia.errors %}
                          {% for error in form3.referencia.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row ">
                        <label for="txtNomProducto3" class="col-sm-2 form-label">Producto:</label>
                        <div class="col-sm-10">
                          {{form3.producto(class="form-control",id="txtNomProducto3",placeholder="Nombre del producto" )}}
                          {% if form3.producto.errors %}
                          {% for error in form3.producto.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row ">
                        <label for="txtCantidad3" class="col-sm-2 form-label">Cantidad:</label>
                        <div class="col-sm-10">
                          {{form3.cantidad(class="form-control",id="txtCantidad3",placeholder="Cantidad del producto")}}
                          {% if form3.cantidad.errors %}
                          {% for error in form3.cantidad.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="txtPrecio3" class="col-sm-2 form-label">Precio:</label>
                        <div class="col-sm-10">
                          {{form3.precio(class="form-control",id="txtPrecio3",placeholder="Precio del producto")}}
                          {% if form3.precio.errors %}
                          {% for error in form3.precio.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="estado3" class="col-sm-2 form-label">Estado: </label>
                        <div class="col-sm-10">
                          {{form3.estado(id="estado3", checked=True)}}
                          {% if form3.estado.errors %}
                          {% for error in form3.estado.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %}<br>{% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="imagen3" class="col-sm-2 form-label">Imagen:</label>
                        <div class="col-sm-10">
                          {{form3.imagen(class="form-control",id="imagen3")}}
                          {% if form3.imagen.errors %}
                          {% for error in form3.imagen.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center mb-3">
                        <div class="col-md-4">
                          {{form3.enviar3(class="btn btn-outline-primary" ,id="btnActualizar")}}
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualizar producto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="registrarUsuario" action="" method="POST" enctype="multipart/form-data" novalidate>
                    {{form3.hidden_tag()}}
                    <p>Diligencie los campos a continuación.</p>
                    <div class="container">
                      <div class="row">
                        <label for="txtReferencia3" class="col-sm-2 form-label">Referencia: </label>
                        <div class="col-sm-10">
                          {{form3.referencia(class="form-control",id="txtReferencia3",placeholder="Ingrese referencia",readonly=True)}}
                          {% if form3.referencia.errors %}
                          {% for error in form3.referencia.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row ">
                        <label for="txtNomProducto3" class="col-sm-2 form-label">Producto:</label>
                        <div class="col-sm-10">
                          {{form3.producto(class="form-control",id="txtNomProducto3",placeholder="Nombre del producto",readonly=True )}}
                          {% if form3.producto.errors %}
                          {% for error in form3.producto.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row ">
                        <label for="txtCantidad3" class="col-sm-2 form-label">Cantidad:</label>
                        <div class="col-sm-10">
                          {{form3.cantidad(class="form-control",id="txtCantidad3",placeholder="Cantidad del producto")}}
                          {% if form3.cantidad.errors %}
                          {% for error in form3.cantidad.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="txtPrecio3" class="col-sm-2 form-label">Precio:</label>
                        <div class="col-sm-10">
                          {{form3.precio(class="form-control",id="txtPrecio3",placeholder="Precio del producto",readonly=True)}}
                          {% if form3.precio.errors %}
                          {% for error in form3.precio.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="estado3" class="col-sm-2 form-label">Estado: </label>
                        <div class="col-sm-10">
                          {{form3.estado(id="estado3",checked=True)}}
                          {% if form3.estado.errors %}
                          {% for error in form3.estado.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %}<br>{% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <label for="imagen3" class="col-sm-2 form-label">Imagen:</label>
                        <div class="col-sm-10">
                          {{form3.imagen(class="form-control",id="imagen3")}}
                          {% if form3.imagen.errors %}
                          {% for error in form3.imagen.errors %}
                          <span style="color: red;">{{ error }}</span><br>
                          {% endfor %}
                          {% else %} <br> {% endif %}
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center mb-3">
                        <div class="col-md-4">
                          {{form3.enviar3(class="btn btn-outline-primary" ,id="btnActualizar")}}
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
          <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Actualizar producto.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>Actualizar cantidad</h1>
                  <p>Ingrese la cantidad del producto.</p>
                  <form action="home.html" method="POST">
                    <div class="container">
                      <div class="row d-flex justify-content-center mb-3">
                        <div class="col-md-4">
                          <label for="txtCantidad" class="form-label">Cantidad:</label>
                          <input type="text" id="txtCantidad" class="form-control" name="txtCantidad"
                            placeholder="Cantidad" required>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-center mb-3">
                        <div class="col-md-4">
                          <button type="submit" class="btn btn-outline-primary" id="btnActualizar"
                            name="btnActualizar">Actualizar
                            producto.</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
          {% if form.errors %}
          <script>
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {});
            myModal.show()
          </script>
          {% endif %}

          {% if form2.errors %}
          <script>
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal2'), {});
            myModal.show()
          </script>
          {% endif %}

          {% if form3.errors %}
          <script>
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal3'), {});
            myModal.show()
          </script>
          {% endif %}
          <script>
            //<!-- <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal3" >Editar</a> -->
            function actualizarProducto(referencia,nombre,precio,cantidad,estado) {
              var actualizarModal=new bootstrap.Modal(document.getElementById('exampleModal3'),{})
              document.getElementById("txtReferencia3").value=referencia
              document.getElementById("txtNomProducto3").value=nombre
              document.getElementById("txtCantidad3").value=cantidad
              document.getElementById("txtPrecio3").value=precio
              document.getElementById("estado3").value=estado
              actualizarModal.show()
            }
          </script>

</body>

</html>